{% if cta %}
<aside class="py-16 {{ site.colors.cta.container }}">
    <div class="container">
        <div class="max-w-4xl mx-auto flex justify-center sm:justify-between items-center flex-col sm:flex-row text-center sm:text-left">
            <div>
                <h3 class="text-3xl">Free Consultation!</h3>
                <div>Contact us for a free consultation.</div>
            </div>
            <div class="mt-4 sm:mt-0">
                <a class="{{ site.colors.cta.button }}" href="/contact/">Contact Us Today!</a>
            </div>
        </div>

    </div>
</aside>
{% endif %}