<nav>
    <ul>
        <li>
            <a class="text-white" href="/about-us/">About Us</a>
        </li>
        <li>
            <a class="text-white" href="/privacy-policy/">Privacy Policy</a>
        </li>
        <li>
            <a class="text-white" href="/contact/">Contact Us</a>
        </li>
    </ul>
</nav>
