<div class="{{ site.colors.copyright.background }} {{ site.colors.copyright.text }} py-4">
    <div class="container">
        <div class="">
            Copyright &copy; {% year %} {{ site.name }}
        </div>
    </div>
</div>
