<div class="mt-12 py-16 bg-black text-white">
    <div class="container">
        {% testimonials %}
            <testimonial cite="Bob from Accounting">
                Their services really helped my business.
            </testimonial>
            <testimonial cite="John Doe">
                They were friendly and easy to work with and got the job done.
            </testimonial>
            <testimonial cite="Sarah from NJ">
                I've tried other similar services in the pas but this is by far the best.
            </testimonial>
        {% endtestimonials %}
    </div>
</div>