{% slider %}
    <slide image="_images/slider/slide1.jpg" href="/">
        hello this is slider content
    </slide>
    <slide image="_images/slider/slide2.jpg" >
        <div class="text-xl">Slide Header</div>
        <div>hello this is slider content</div>
        <div class="text-center mt-4"><a class="btn btn-slider" href="/">Click Me</a></div>
    </slide>
    <slide image="_images/slider/slide3.jpg" />
{% endslider %}