
<div class="container">
    <h2 class="text-center text-3xl mb-6">Services</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <a href="#" class="flex flex-col justify-start items-center border-green-600 border-8 p-6 text-body never-underline">
            {% icon 'desktop', 'solid', {class: 'text-6xl text-green-600'} %}
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, corporis, minus. </p>
            <span class="btn btn-green">Read More</span>
        </a>
        <a href="#" class="flex flex-col justify-start items-center border-blue-600 border-8 p-6 text-body never-underline">
            {% icon 'concierge-bell', 'solid', {class: 'text-6xl text-blue-600'} %}
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, corporis, minus. </p>
            <span class="btn btn-blue">Read More</span>
        </a>
        <a href="#" class="flex flex-col justify-start items-center border-orange-600 border-8 p-6 text-body never-underline">
            {% icon 'chart-area', 'solid', {class: 'text-6xl text-orange-600'} %}
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, corporis, minus. </p>
            <span class="btn btn-orange">Read More</span>
        </a>
        <a href="#" class="flex flex-col justify-start items-center border-purple-600 border-8 p-6 text-body never-underline">
            {% icon 'city', 'solid', {class: 'text-6xl text-purple-600'} %}
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, corporis, minus. </p>
            <span class="btn btn-purple">Read More</span>
        </a>
    </div>
</div>