<form id="form-newsletter-subscribe" method="post" action="#" class="mb-6">
    <h4>Sign up for our Newsletter</h4>
    <div class="mb-2">
        <label class="sr-only" for="newsletter-name">Name</label>
        <input class="form-input w-full" id="newsletter-name" type="text" name="name" placeholder="Your Name" autocomplete="name">
    </div>
    <div class="mb-2">
        <label class="sr-only" for="newsletter-email">Email</label>
        <input class="form-input w-full" type="email" name="email" required placeholder="Your Email Address" autocomplete="email">
    </div>
    <button class="btn" type="submit">Subscribe</button>
</form>
<script>document.getElementById('form-newsletter-subscribe').addEventListener('submit', function (e) {
        e.preventDefault();
    })</script>