<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "ContactPage",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ site.url }}{{ page.url }}",
            "url": "{{ site.url }}{{ page.url }}"
        },
        "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}"
            }
    }
</script>